<mat-toolbar-row class="header">
  <div>
    <div>
      <div class="gear">
        <img class="gear1" src="/assets/img/gear.svg" alt="gear">
        <img class="gear2" src="/assets/img/gear.svg" alt="gear">
        <img class="gear3" src="/assets/img/gear.svg" alt="gear">
      </div>
      <div class="insideGear">
        <span class="js">JS</span>
        <span class="css">CSS</span>
        <span class="html">HTML</span>
      </div>
    </div>
    <div>
      <h1>
        Hi, I’m <strong class="focus">M</strong>atheus, Web Developer
      </h1>
      <span class="line"></span>
      <p>
        Front end Developer / Web Developer
      </p>
      <div class="contact">
        <a href="">Contact me!</a>
      </div>
    </div>
    <div class="scroll">
      <span>Scroll Down</span>
      <img src="/assets/img/icon-arrow-down.png" alt="icon-arrow-down" width="22px">
    </div>
    <div class="gear second">
      <img class="gear1" src="/assets/img/gear.svg" alt="gear">
      <img class="gear2" src="/assets/img/gear.svg" alt="gear">
      <img class="gear3" src="/assets/img/gear.svg" alt="gear">
    </div>
    <div>
      <h2>Me and Me</h2>
      <span class="line"></span>
      <div class="description">
        <p>
          Welcome to my portfolio. <br><br> I'm 22 years old and I'm starting in this area, I attended 1 year and a half in college, but I decided to stop to better focus on the Front end. <br><br> Today I have a good knowledge of the area that I decided to dedicate myself. <br><br> I love working in a team, I always try to be proactive and have good communication with everyone.
        </p>
      </div>
    </div>
    <div class="gear third">
      <img class="gear1" src="/assets/img/gear.svg" alt="gear">
      <img class="gear2" src="/assets/img/gear.svg" alt="gear">
      <img class="gear3" src="/assets/img/gear.svg" alt="gear">
    </div>
    <div>
      <section>
        <h2>Work</h2>
        <span class="line"></span>
        <ul>
          <li><img src="/assets/img/Test_image.jng" alt="" width="100%"></li>
          <li><img src="" alt=""></li>
          <li><img src="" alt=""></li>
          <li><img src="" alt=""></li>
        </ul>
      </section>
    </div>
  </div>
</mat-toolbar-row>