.header {
  display: flex;
  flex-flow: column;
  justify-items: center;
  margin: 20rem 0 0 calc(20%);
  max-width: 100%;
}

.line::before {
  margin-top: 30px;
  left: 20vw;
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: #444;
}
.button-contact a,
.container-contact button {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0 0 0 29%;
  color: #ff0000;
  border: 1px solid #ff0000;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  cursor: pointer;
  overflow: hidden;
  position: absolute;
}
.button-contact a::before,
.container-contact form button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff0000;
  z-index: -1;
  transition: all 0.5s;
}
.button-contact a::before,
.container-contact form button::before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.button-contact a:hover::before,
.container-contact form button:hover:before {
  height: 400%;
}
.button-contact a:hover,
.container-contact form button:hover {
  color: #333;
}

.container-description p {
  text-align: center;
  font-size: 2rem;
  max-width: 70%;
  margin-left: 5%;
  color: #bbbbbb;
  text-shadow: none;
  letter-spacing: 4px;
  line-height: 100%;
}
.container-description p::before {
  margin: -1.5rem 0 1rem -4%;
}
.container-description p::after {
  margin: 0.2rem 0 0 -4%;
}
.container-skill .list {
  margin-top: 7%;
  margin-bottom: 30vh;
}
.list p::after,
.list p::before {
  display: none;
}
.list li {
  list-style: none;
}
.list p {
  color: #bbbbbb;
  text-shadow: none;
  margin: 3% 20% 40px 0;
}
.list .progress {
  margin-top: -35px;
  left: 21vw;
  position: absolute;
  width: 40%;
  height: 2px;
}
.list .front {
  width: 30%;
  background-color: #307897;
}
.list .back {
  width: 15%;
  background-color: rgb(255, 34, 83);
}
.list .angular {
  width: 25%;
  background-color: #dd1b16;
}
.list .react {
  width: 10%;
  background-color: #61dbfb;
}
.list .vue {
  width: 2%;
  background-color: #41b883;
}
.container-contact h2 {
  margin-top: 15vh;
}
.container-contact p {
  color: #bbbbbb;
  text-shadow: none;
  text-align: start;
  letter-spacing: 4px;
  line-height: 100%;
  font-size: 1.5rem;
  max-width: 70%;
  margin-bottom: auto;
}
.container-contact .form {
  position: absolute;
  margin: 6vh 40px 60vh 0;
  max-width: 60%;
}
.container-contact form {
  width: 100%;
  max-width: 100%;
  margin-left: 2vw;
  border-radius: 1px;
}
.container-contact form input,
.container-contact form textarea {
  display: block;
  width: 90%;
}
.container-contact form input,
.container-contact form textarea {
  background-color: #444;
  border-style: none;
  padding: 20px;
  margin: 10px 0;
  font-size: 1rem;
  color: #bbbbbb;
  transition: border-color, box-shadown 0.5s;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}
.container-contact form textarea {
  resize: vertical;
  z-index: 1;
}
.container-contact form input:hover,
.container-contact form input:focus,
.container-contact form textarea:hover,
.container-contact form textarea:focus {
  outline: none;
  border: 0 0 2px 0;

  border-bottom: #45d3dd;
  box-shadow: 0 0 0 2px #61dbfb;
  border-radius: 1px;
}
.container-contact form button {
  position: relative;
  background: none;
  max-width: 50vw;
  margin: 0;
}
