<div class="container">
  <nav class="navbar">
    <div>
      <span class="logo"><a href="#">M.</a></span>
    </div>
    <div class="mobile-nav burguer" (click)="toggleMenu()">
      <i class="material-icons">{{isMenuOpen ? 'close' : 'menu'}}</i>
    </div>

    <div id="menu">
      <ul class="list" [class.active]="isMenuOpen">
        <li><a href="#">My Description</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">My Skills</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>