<div class="container">
  <nav class="navbar">
    <div>
      <span class="logo"><a (click)="toHome()" routerLink="/home">M.</a></span>
    </div>
    <div class="mobile-nav" (click)="toggleMenu()"><i class="material-icons">{{isMenuOpen ? 'close' : 'menu'}}</i></div>

    <div id="menu">
      <ul class="list" [class.active]="isMenuOpen">
        <li><a (click)="toDescription()" routerLink="/description">My Description</a></li>
        <li><a (click)="toWork()" routerLink="/work">work</a></li>
        <li><a (click)="toSkill()" routerLink="/skills">My Skills</a></li>
        <li><a (click)="toContact()" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>