body {
  overflow: hidden;
}
.container {
  display: grid;
  margin-top: -385px;
  position: fixed;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100vw;
  justify-content: space-between;
  background-color: rgb(97, 166, 171, 0.95);
  box-shadow: rgb(0, 0, 0, 0.95) 0em 0em 0.6em;
  padding: 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin: 0px 50px 0 20vw;
  color: #5bf9ff;
  font-weight: 700;
  font-size: 2.7rem;
  text-shadow: red -0.3rem -0.1rem 0.3rem;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 20vw;
}

.list li::after {
  content: "";
  background-color: #c4c4c4;
  position: absolute;
  width: 2px;
  height: 20px;
}

.list li:last-child::after {
  position: relative;
}

.list a {
  margin: 0 5px;
  padding: 3px 6px 3px 2px;
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
}

.list a:hover {
  font-size: 1.2rem;
  margin: 0 2px;
  margin-left: 4px;
}

.mobile-nav {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: -305px;
  }
  .logo {
    margin-left: 5vw;
  }

  .list {
    margin-right: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 24px;
  }

  .logo {
    position: absolute;
    margin-top: -1vh;
    margin-left: 1rem;
    font-size: 2.3rem;
  }
  .list {
    background-color: rgb(64, 109, 112, 0.95);
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    position: fixed;
    z-index: 1000;
    inset: 30px -5vw -2vh 60vw;
    padding: min(15vh, 5rem) 2em;
    transform: translateX(150%);
  }

  .active {
    transform: translateX(0%);
  }

  .list li::after {
    position: relative;
  }

  .mobile-nav {
    display: block;
    position: absolute;
    color: #f4f4f4;
    width: 2rem;
    top: 1rem;
    right: 5.5rem;
    z-index: 9999;
    cursor: pointer;
  }

  .container {
    margin-top: -150px;
  }
  @media screen and (max-width: 600px) {
    .container {
      margin-top: -142px;
    }
  }
  @media screen and (max-width: 480px) {
    .list {
      inset: 30px -5vw -2vh 38vw;
    }
  }
}
