<div class="container-footer">
  <ul>
    <li><small>Follow me</small></li>
    <li>
      <a class="github" target="_blank" href="https://github.com/fuentes71"><img src="./assets/img/github.svg" alt="github"></a>
    </li>
    <li>
      <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/matheus-fuentes-pereira-04b74b210"><img src="./assets/img/linkedin.svg" alt="linkedin"></a>
    </li>
    <li>
      <a class="instagram" target="_blank" href="https://www.instagram.com/matheus_7119/"><img src="./assets/img/instagram.svg" alt="instagram"></a>
    </li>
  </ul>
</div>